# Coursera Capstone

This notebook is intended to be used for the Capstone project.

In [148]:
import pandas as pd
import numpy as np

print("Hello Capstone Project Course!")

Hello Capstone Project Course!

### Importing libraries

In [149]:
import requests
import bs4

Retreiving the webpage from wikipedia

In [150]:
result = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = bs4.BeautifulSoup(result.content)

Finding the required table

In [151]:
table = soup.find('table', class_="wikitable")

Iterating over all rows and then retreiving its contents in a DataFrame and then concatenating all such DataFrames

In [153]:
rows = []

for tr in table.find_all('tr'):
    row = []
    for td in tr.find_all('td'):
        row.append(td.get_text().strip())
    if len(row) > 0 and row[1] != "Not assigned":
        rows.append(pd.DataFrame([row], columns=columns))
print(rows[5])
df = pd.concat(rows, ignore_index=True)

  Postcode     Borough   Neighbourhood
0      M6A  North York  Lawrence Manor

Doing a sanity check on data

In [154]:
df.head(10)

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights
5      M6A        North York    Lawrence Manor
6      M7A      Queen's Park      Not assigned
7      M9A         Etobicoke  Islington Avenue
8      M1B       Scarborough             Rouge
9      M1B       Scarborough           Malvern

Replacing "Not assigned" Neighbourhood values by the corresponding Borough values

In [156]:
df["Neighbourhood"] = np.where(df["Neighbourhood"] == "Not assigned", df["Borough"], df["Neighbourhood"])

Concatenating the values after groping all postal codes

In [157]:
def concatenate(series):
    return ",".join(series)
df = df.groupby('Postcode').agg({'Borough': 'first', 'Neighbourhood': concatenate}).sort_values("Postcode")

In [158]:
df.head()

              Borough                         Neighbourhood
Postcode
M1B       Scarborough                         Rouge,Malvern
M1C       Scarborough  Highland Creek,Rouge Hill,Port Union
M1E       Scarborough       Guildwood,Morningside,West Hill
M1G       Scarborough                                Woburn
M1H       Scarborough                             Cedarbrae

Postcode
M1B    False
M1C    False
M1E    False
M1G    False
M1H    False
M1J    False
M1K    False
M1L    False
M1M    False
M1N    False
M1P    False
M1R    False
M1S    False
M1T    False
M1V    False
M1W    False
M1X    False
M2H    False
M2J    False
M2K    False
M2L    False
M2M    False
M2N    False
M2P    False
M2R    False
M3A    False
M3B    False
M3C    False
M3H    False
M3J    False
       ...
M6B    False
M6C    False
M6E    False
M6G    False
M6H    False
M6J    False
M6K    False
M6L    False
M6M    False
M6N    False
M6P    False
M6R    False
M6S    False
M7R    False
M7Y    False
M8V    False
M8W    False
M8X    False
M8Y    False
M8Z    False
M9A    False
M9B    False
M9C    False
M9L    False
M9M    False
M9N    False
M9P    False
M9R    False
M9V    False
M9W    False
Name: Neighbourhood, Length: 102, dtype: bool